body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

/* Header-styles */
.header-styles {
  border-bottom: 1px solid #e7e9fc;
}
.header-content {
  display: flex;
}

.nav-styles {
  display: flex;
  align-items: center;
}

.logo-style {
  margin-right: 76px;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Logo-style */
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.text-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
/* Links-navigation-style */
.link-navigation {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-navigation:hover,
.link-navigation:focus {
  color: #404bbf;
}
/* Adress-contacts-style */
.contacts {
  font-style: normal;
}
.address-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-contacts:hover,
.address-contacts:focus {
  color: #404bbf;
}
/* section-one-style */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* section-two-three-portfolio-style */
.section-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.list-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.list-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* our-team */
.our-team {
  background-color: #f4f4fd;
}
.list-our-team {
  background-color: #ffffff;
}
/* footer */
.all-right {
  background-color: #2e2f42;
}
.all-right-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.all-right-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
li {
  background-color: #ffffff;
}
